.mh-footer {
	position: fixed;
	min-height: 50px;
	bottom:0;
	left: 0;
	right:0;
	z-index: 9999;
	
	background-color: #007ad9;
}
.mh-footer p {
	text-align: center;
	color: white;
	font-size: 0.8em;
}